@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@400;700&display=swap');
:root {
    --pc: #F1A501;
    --pc-color: #F1A501;
    --sc: #DF6951;
    --sc-color: #DF6951;
    --gray-bg: #a59c94;
    --gray-color: #a59c94;
    --font-os: 'Open Sans', sans-serif;
    --font-v: 'Volkhov', serif;
    --swiper-theme-color: #39425D;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
    font-size: 16px;
}
.h1, h1,
.h2, h2,
.h3, h3,
.h4, .h5, h5,
.h6, h6 {
    color: #0a0a0a;
    font-family: 'Poppins', sans-serif;
}
.h1, h1 {
    font-weight: 700;
    line-height: 1.2em;
    font-size: 53px;
}
.h2, h2 {
    font-weight: 700;
    line-height: 1.2em;
    font-size: 48px;
}
.h3, h3 {
    font-weight: 600;
    line-height: 1.5;
    font-size: 30px;
}
.h4, h4 {
    font-weight: 600;
    line-height: 1.5;
    font-size: 24px;
}
.h5, h5 {
    font-weight: 500;
    line-height: 1.7;
    font-size: 21px;
}
.h6, h6 {
    font-weight: 500;
    line-height: 1.5;
    font-size: 17px;
    color: #a7a9b8;
}
a {
    color: var(--pc);
    text-decoration: none!important;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1160px;
    }
}
.img-logo{
    width: 114.91px;
}
.nav-mi, .navbar-brand{
    padding: 0;
}
.top-manu{
    padding-top: 47px;
}
.top-manu a{
    font-size: 17px;
    color: #212832;
    font-weight: 400;
}
.top-manu a:hover{
    color: var(--sc);
}
.bg-img{
    position: relative;
}
.bg-img-sub{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.nav-w{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.btn-top-nav{
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 7px 19px!important;
}
.cap-text-sun {
    text-transform: uppercase;
    color: var(--sc-color);
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 24px 0;
}
.sect-p-y {
    padding: 130px 0;
}
.main-text-sub {
    font-weight: bold;
    font-size: 84px;
    font-family: var(--font-v);
    line-height: 89px;
    margin: 0 0 30px 0;
    position: relative;
}
.main-text-sub span {
    position: absolute;
    top: 10%;
    right: 0;
    z-index: -1;
}
.p-text-sub {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
    max-width: 465px;
    margin: 0 0 34px 0;
}
.btn-secondary-mi {
    background: var(--pc);
    border: 1px solid #2220;
    padding: 17px 29px;
}
.btn-secondary-mi:hover{
    background: unset;
    border: 1px solid var(--pc);
    color: var(--pc);
}
.flex-btn-h{
    display: flex;
    align-items: center;
}
.play-link{
    display: flex;
    align-items: center;
    margin: 0 0 0 44px;
}
.play-link img{
    width: 52px;
    flex: 0 0 52px;
}
.play-link span{
    margin: 0 0 0 21px;
    color: #686D77;
}
.header-main-img {
    transform: scale(1.7)translateY(6%);
}
.section-cat {
    padding: 97px 0 123px 0;
    position: relative;
}
.title-dis {
    text-align: center;
}
.title-sub {
    font-size: 18px;
    font-weight: 600;
    color: #5E6282;
    margin: 0 0 10px 0;
}
.title-main {
    font-family: var(--font-v);
    color: #14183E;
    font-size: 50px;
    font-weight: 700;
    line-height: 64.5px;
}
.grid-sercard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    padding: 66px 0 0 0;
}
.s-item-sub {
    padding: 5px 40px 40px 40px;
    text-align: center;
    background: #ffffff00;
    border-radius: 36px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.s-item-sub::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 30px 0px 10px;
    transform: translate(-50%, 50%);
    background: #fffffff;
    z-index: -1;
}
.s-item-sub:hover::before {
    background: var(--sc);
}
.s-item-sub:hover{
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.sercard-text-main {
    font-family: var(--font-os);
    font-weight: 600;
    line-height: 27.24px;
    font-size: 20px;
    color: #1E1D4C;
    margin: 34px 0 10px 0;
}
.sercard-p {
    font-size: 16px;
    line-height: 26px;
    color: #5E6282;
    margin: 0;
}
.section-cat::before {
    content: "";
    position: absolute;
    background-image: url(../images/ser-bg.svg);
    display: block;
    width: 153px;
    height: 166px;
    top: 15%;
    right: 10%;
}
.des-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    grid-auto-rows: minmax(100px, auto);
    position: relative;
}
.des-left-img {
    position: absolute;
    left: 100%;
    bottom: 50%;
    transform: translate(-38%, 50%);
}
.des-p {
    position: relative;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 24px;
    overflow: hidden;
}
.des-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
    width: 100%;
    padding: 20px;
}
.des-in-text {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 19px 0;
    color: #5E6282;
}
.des-loc {
    font-size: 16px;
    font-weight: 500;
    color: #5E6282;
}
.des-loc img{
    width: 22px;
}
.des-loc span {
    margin: 0 14px 0 0;
}
.des-section{
    padding: 60px 0 186px 0;
}
.section-fast .title-dis {
    text-align: unset;
}
.fast-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 48px;
    margin: 31px 0 0 0;
}
.fast-item {
    display: flex;
    align-items: center;
}
.fast-img img{
    width: 47px;
    flex: 0 0 47px;
}
.fast-main-text {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 5px 0;
}
.fast-p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.fast-inner{
    color: #5E6282;
}
.fast-img {
    margin: 0 21px 0 0;
}
.row-mi {
    display: flex;
    align-items: center;
}
.col-mi-1 {
    max-width: 45%;
}
.owl-ite{
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-con,.owl-stage{
    display: flex;
    align-items: center;
}
.owl-nav{
    display: none;
}
.owl-ite .owl-img{
    filter: grayscale(1);
    transition: all 0.5s;
}
.owl-ite:hover .owl-img{
    filter: grayscale(0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.owl-img {
    padding: 15px;
    border-radius: 5px;
}
.owl-carousel .owl-stage-outer {
    overflow: unset;
}
.logo-slider{
    overflow: hidden;
}
.owl-stage-outer {
    padding: 100px 0;
}
.mcard-main {
    background: #ffffff;
    border-radius: 26px;
    padding: 20px 25px;
    margin-left: 20%;
    max-width: 370px;
    position: relative;
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px #00000001;
    box-shadow: 0px 8.148148536682129px 6.518518447875977px 0px #00000002;
    box-shadow: 0px 20px 13px 0px #00000003;
    box-shadow: 0px 38.51852035522461px 25.481481552124023px 0px #00000003;
    box-shadow: 0px 64.81481170654297px 46.85185241699219px 0px #00000004;
    box-shadow: 0px 100px 80px 0px #00000005;
}
.mcard-title {
    color: #080809;
    margin: 26px 0 13px 0;
    font-size: 18px;
    line-height: 22.41px;
    font-weight: 500;
}
.mcard-text {
    color: #84829A;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.mcard-icon {
    display: flex;
    margin: 21px 0 29px 0;
}
.mcard-icon-item:nth-child(2) {
    margin: 0 13px;
}
.mcard-footer {
    display: flex;
    justify-content: space-between;
}
.mcard-left {
    display: flex;
    align-items: center;
}
.mcard-left img {
    width: 16px;
    height: 16px;
    margin: 0 15px 0 0;
}
.mcard-left p {
    margin: 0;
    padding: 0;
    color: #84829A;
    font-weight: 500;
    font-size: 16px;
}
.mcard-flot {
    position: absolute;
    padding: 20px;
    min-width: 280px;
    border-radius: 18px;
    display: flex;
    align-items: flex-start;
    right: 0;
    bottom: 16%;
    transform: translate(50%, 0%);
    background: #ffffff;
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px #00000001;
    box-shadow: 0px 8.148148536682129px 6.518518447875977px 0px #00000002;
    box-shadow: 0px 20px 13px 0px #00000003;
    box-shadow: 0px 38.51852035522461px 25.481481552124023px 0px #00000003;
    box-shadow: 0px 64.81481170654297px 46.85185241699219px 0px #00000004;
    box-shadow: 0px 100px 80px 0px #00000005;
}
.mcard-flot-img {
    margin: 0 10px 0 0;
}
.flot-in-top {
    font-size: 14px;
    margin: 0 0 0 0;
    color: #84829A;
    font-weight: 500;
}
.flot-in-main {
    font-size: 18px;
    font-weight: 500;
    color: #080809;
    margin: 5px 0 10px 0;
}
.pro-flot {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.progress.pro-con {
    height: 5px;
}
.pro-con .progress-bar {
    background: #8A79DF;
}
.flot-text {
    width: 100%;
}
.blue-blur {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-43%, 5%);
    z-index: -1;
}
.col-mi-2 {
    width: 100%;
}
.email-con {
    background: #f8f6ff;
    border-radius: 129px 20px 20px 20px;
    padding: 78px 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.img-flot{
    position: absolute;
}
.img-flot.ring-1 {
    position: absolute;
    left: -8%;
    bottom: 0;
}
.img-flot.ring-2 {
    right: 0;
    bottom: -12%;
}
.img-flot.send-email {
    bottom: 100%;
    left: 100%;
    transform: translate(-60%, 60%);
    width: 70px;
}
.img-flot.email-plus {
    left: 100%;
    top: 100%;
    transform: translate(-37%, -50%);
    z-index: -1;
    width: 153px;
}
.title-email {
    font-size: 33px;
    line-height: 54px;
    font-weight: 600;
    color: #5E6282;
    margin: 0 0 74px 0;
}
.input-mi .form-control {
    padding: 33px 61px;
    border-radius: 10px;
    box-shadow: none;
}
.input-mi {
    position: relative;
    z-index: 1;
}
.form-inline:focus ,.form-control{
    box-shadow: none;
    border: none
}
.icon-c {
    position: absolute;
    top: 50%;
    left: 0;
    height: 18px;
    width: 21px;
    transform: translate(31px, -50%);
}
.btn-mi {
    background: linear-gradient(
    180deg, #FF946D 0%, #FF7D68 100%);
    padding: 20px 50px;
    border-radius: 10px;
    margin: 0 0 0 24px;
    color: #ffffff;
}
.row.p-footer {
    padding: 160px 0 0;
}
.col-1-text {
    font-size: 13px;
    line-height: 16.19px;
    color: #5E6282;
    max-width: 240px;
}
.col-1-title {
    font-size: 44px;
    line-height: 66px;
    font-weight: 500;
    margin: 0 0 10px 0;
}
.f-link h6 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26.15px;
    color: #080809;
    margin: 0 0 35px 0;
}
.f-link a {
    font-size: 18px;
    line-height: 22.41px;
    font-weight: 500;
    color: #5E6282;
}
.list-unstyled li {
    padding: 0 0 12px 0;
}
.f-icon {
    display: flex;
}
.f-icon a:nth-child(2) {
    margin: 0 25px;
    background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
}
.f-icon a {
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border-radius: 50px;
}
.f-icon-title {
    font-size: 20px;
    line-height: 24.9px;
    font-weight: 500;
    color: #5E6282;
    margin: 25px 0 16px 0;
}
.down {
    display: flex;
}
.copy {
    text-align: center;
    padding: 84px 0 79px 0;
}
.copy p, a {
    color: #5E6282;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.43px;
}
.p-test{
    padding-top: 200px;
}  
.mi-swiper .swiper-pagination{
    position: relative;
    left: 0!important;
    bottom: 0;
    transform: translateX(-40%)!important;
}
.mi-swiper .swiper-pagination-bullet{
    transform: unset;
}
.test-main{
    color: #5E6282;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 8px 0;
}
.slider-t{
    font-size: 50px;
    font-weight: 700;
    line-height: 64.5px;
    font-family: var(--font-v);
    color: #14183E;
}


@media screen and (min-device-width: 770px) and (max-device-width: 991px) {
    .grid-sercard {
        grid-template-columns: repeat(2, 1fr);
    }
    .des-con {
        grid-template-columns: repeat(2, 1fr);
    }
    .col-mi-1 {
        max-width: unset;
    }
    .row-mi {
        flex-direction: column;
    }
    .fast-grid {
        margin: 31px 0 31px 0;
    }
    .email-con {
        padding: 80px 80px;
    }
    .copy {
        text-align: unset;
    }
}
        
@media screen and (min-device-width: 300px) and (max-device-width: 769px) {
    .header-main-img {
        transform: unset; 
        margin: 40px 0 0 0;
    }
    .main-text-sub {
        font-size: 64px;
    }
    .des-con {
        grid-template-columns: repeat(1, 1fr);
    }
    .input-mi {
        display: flex;
        justify-content: center;
    }
    .email-con {
        padding: 50px;
    }
    .grid-sercard {
        grid-template-columns: repeat(1, 1fr);
    }
    .mcard-main {
        margin-left: unset; 
    }
    .row-mi {
        flex-direction: column;
    }
    .fast-grid {
        margin: 31px 0 31px 0;
    }
    .col-mi-1 {
        max-width: unset;
    }
    .icon-c {
        top: 35px;
        left: 0;
        transform: translate(70px, -50%);
    }
    .img-flot.email-plus{
        display: none;
    }
    .copy {
        text-align: unset;
    }
}
